@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Fonts */

.spartan {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
}

::placeholder {
    color: #FFF;
}

.paragraph {
    color: #6692BA;
    font-size: 7vw;
    line-height: 8vw;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Images */

.main-icon {
    width: 100vw;
}

.avatar-image {
    margin-top: 2vh;
    width: 40vw;  
}

/* Small components */

.common-styles {
    border-radius: 16px;
    border: none;
    background: #38b6ff;
    display: flex;
    width: 50vw;
    height: 4.5vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.input {
    width: 80vw;
    border: 2px solid #a0dfff;
    background-color: #6cddff;
    padding: 0px;
    border-radius: 16px;
}

.input:focus {
    outline: none;
    border-color: #38b6ff;
    box-shadow: 0 0 5px #38b6ff;
}

.avatar-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* Divs */

.start-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35vw;
}

.start-div-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 0vw;
}

.start-div-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vw;
}

.avatar-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de largura igual */
    gap: 0vh; /* Espaçamento entre os itens */
    margin-top: 6vh;
}

.avatar-div-1 {
    margin-top: 13vh;
    margin-bottom: 13vh;
    margin-right: 0.5vh;
    margin-left: 0.5vh;
}